* {
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}

.header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.col-1 {
  background-image: url('./Img/Home\ Bg.jpg');
  background-size: cover;
  background-position: center;
  padding: 40px;
  color: #fff;
  background-position: bottom;
  background-repeat: no-repeat;
  position: relative;
  height: 70vh;
  width: 100%;
}

.nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 40px;
  cursor: pointer;
}

.search-icon {
  width: 28px;
  cursor: pointer;
}

.left-text {
  width: 70%;
  margin: 90px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.left-text h1 {
  font-size: 50px;
  font-weight: 500;
  margin-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.245);
}

.left-text p {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1.5px;
  margin: 30px 0;
}

.left-text a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  margin-top: 40px;
  padding: 5px 8px;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.left-text a img {
  width: 40px;
  margin-right: 10px;
}

.left-text a:hover {
  background-color: orange;
}

.col-2 {
  padding: 40px 80px;
}

.col-2 ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.col-2 ul li {
  list-style: none;
  padding: 5px 8px;
  cursor: pointer;
  transition: all 0.3s linear;
}

.col-2 ul li:hover {
  transform: translateY(-8px);
}

.col-2 ul li a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
}

.btn {
  border: 2px solid #ff5a5a;
  padding: 10px 30px;
  outline: none;
  transition: all 0.4s ease-in;
  cursor: pointer;
  border-radius: 3px;
  background: transparent;
  font-size: 16px;
}

.btn:hover {
  background-color: #ff5a5a;
  color: #fff;
}

.right-text {
  margin-top: 110px;
}

.right-text h2 {
  font-size: 50px;
  font-weight: 400;
  margin-bottom: 20px;
}

.right-text h3 {
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 30px;
  color: #333;
}

.right-text p {
  font-size: 18px;
  margin-bottom: 50px;
  color: #555;
  letter-spacing: 1.5px;
  line-height: 30px;
}

.right-text a {
  text-decoration: none;
  display: inline-block;
  background: #ff5a5a;
  border: 2px solid #ff5a5a;
  color: #fff;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 1px;
  padding: 15px 40px;
  border-radius: 4px;
  transition: all 0.5s linear;
}

.right-text a:hover {
  transform: translateY(-6px);
  background: transparent;
  color: #333;
}

/* RESPONSIVE CODE */

@media (max-width: 1024px) {
  .col-1 {
    height: 82vh;
  }

  .left-text h1 {
    font-size: 44px;
  }
}

@media (max-width: 768px) {
  .left-text h1 {
    font-size: 32px;
  }
}

@media (max-width: 550px) {
  .col-1 {
    height: 90vh;
  }
}

@media (max-width: 475px) {
  .col-1 {
    height: 100vh;
  }
}

@media (max-width: 426px) {
  .left-text h1 {
    font-size: 28px;
  }

  .left-text a {
    margin-top: 0;
  }

  .col-2 ul {
    justify-content: center;
  }

  .col-2 {
    padding: 30px 40px;
  }

  .right-text {
    margin-top: 50px;
    text-align: center;
  }

  .right-text h2 {
    font-size: 35px;
  }
}

@media (max-width: 376px) {
  .left-text {
    margin: 45px;
  }

  .right-text h2 {
    font-size: 30px;
  }

  .right-text p {
    font-size: 16px;
  }
}

@media (max-width: 321px) {
  .col-1 {
    padding: 20px;
  }
}