* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}

.hero {
    background: #171c1d;
    min-height: 100vh;
    width: 100%;
    color: #fff;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
}

nav .logo {
    width: 145px;
    cursor: pointer;
}

nav ul {
    list-style: none;
    margin-left: 250px;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
    padding: 5px 8px;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.4s ease-in;
}

nav ul li:hover {
    transform: scale(1.1);
    background-color: #ffffff20;
    border-radius: 5px;
}

nav ul li a {
    text-decoration: none;
    color: rgba(253, 252, 251, 0.815);
}

button {
    background: #efefef;
    height: 30px;
    width: 60px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: 0.5s;
}

button span {
    display: block;
    background: #999;
    height: 26px;
    width: 26px;
    border-radius: 50%;
    margin-left: 2px;
    transition: 0.5s, margin left 0.5s;
}

.lamp-container {
    position: absolute;
    top: -20px;
    left: 22%;
    width: 200px;
}

.lamp {
    width: 100%;
}

.light {
    position: absolute;
    top: 87%;
    left: 53%;
    transform: translateX(-50%);
    width: 615px;
    margin-left: -10px;
    opacity: 0;
    transition: opacity 0.5s;
}

.text-container {
    max-width: 600px;
    margin-top: 7%;
    margin-left: 50%;
}

.text-container h1 {
    font-size: 80px;
    font-weight: 400;
}

.text-container p {
    margin-top: 15px;
    letter-spacing: 1.1px;
    line-height: 23px;
}

.text-container a {
    text-decoration: none;
    background: #00986f;
    border: 2px solid #00986f;
    padding: 14px 40px;
    display: inline-block;
    color: #fff;
    font-size: 18px;
    margin-top: 30px;
    border-radius: 30px;
    transition: all 0.3s ease-in;
}

.text-container a:hover {
    color: #00986f;
    transform: scale(1.1);
    background: transparent;
    border: 2px solid #fff;
}

.control {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: 106px;
}

.control .line {
    width: 250px;
    height: 4px;
    background: #fff;
    margin: 0 20px;
    border-radius: 2px;
}

.control .line span {
    width: 50%;
    height: 8%;
    margin-top: 2px;
    border-radius: 4px;
    background: #d6a726af;
    display: block;
}

.active {
    background: green;
}

.active span {
    background: #fff;
    margin-left: 31px;
}

.on {
    opacity: 1;
}