* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  padding: 0 10%;
  background: #000000;
}

/* HEADER STARTED */

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  position: relative;
  z-index: 10;
}

.navbar img {
  height: 70px;
  cursor: pointer;
}

.CheckBtn {
  cursor: pointer;
  font-size: 30px;
  float: right;
  color: #5bdb62;
  line-height: 80px;
}

#check,
.CheckBtn {
  display: none;
}

.list li {
  display: inline-block;
  list-style: none;
  margin: 10px 30px;
  transition: all 0.3s ease-in;
}

.list li:hover {
  transform: scale(1.1);
}

.list li a {
  text-decoration: none;
  color: #eaf4ed;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 18px;
}

.list li a:hover {
  color: rgb(171, 255, 86);
}

/* MAIN STARTED */

.container{
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-box {
  width: 60%;
}

.text-box h1 {
  font-size: 45px;
  margin-bottom: 20px;
  color: #5bdb62;
}

.text-box p {
  color: rgb(221, 198, 218);
}

.text-box a {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  background: #5bdb62;
  border: 1px solid #5bdb62;
  padding: 10px 30px;
  font-size: 18px;
  margin-top: 50px;
  border-radius: 6px;
  transition: all 0.3s ease-out;
}

.text-box a:hover {
  background: transparent;
  color: #5bdb62;
}

.user-box {
  background: #4f4c4f;
  position: absolute;
  top: 0;
  right: 10%;
  z-index: 1;
}

.user-box img {
  display: block;
  padding-top: 90px;
  width: 388px;
  margin-bottom: -205px;
  cursor: pointer;
}

.user-box img:hover {
  box-shadow: rgba(89, 255, 5, 0.35) 0px 5px 15px;
}

/* CODE FOR RESPONSIVE */

@media (max-width: 1024px) {
  body {
    overflow-x: hidden;
    background-color: #000000;
  }

  .text-box{
    margin-top: 30px;
    width: 430px;
  }
}

@media (max-width: 768px) {

  .list {
    width: 100%;
    height: 32vh;
    background-color: rgba(0, 0, 0, 0.428);
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    top: 7.5rem;
    left: 100%;
    transition: all 1s ease-in;
  }

  #check {
    display: none;
  }

  .CheckBtn {
    display: block;
  }

  #check:checked~.list {
    left: 0%;
  }

  .user-box img {
    width: 300px;
  }

  .text-box {
    margin-top: 0;
    width: 310px;
  }
}

@media (max-width: 475px) {

  .navbar img {
    height: 60px;
  }

  .user-box img {
    margin-top: 30px;
  }

  .text-box {
    width: 100%;
    position: relative;
    top: 520px;
    text-align: center;
  }
}